In [17]:
#!pip install pymysql

In [20]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
    with connection.cursor() as cursor:
        
        username = "Segun"
        name = "Asani"
        age = 35
        nation = "Nigeria" 
        
        # Create a new record
        sql = f'INSERT INTO `users` (username, name, age, nation) VALUES ("{username}", "{name}", "{age}", "{nation}")'
        print(sql)
        cursor.execute(sql)

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

INSERT INTO `users` (username, name, age, nation) VALUES ("Segun", "Asani", "35", "Nigeria")

In [25]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
    with connection.cursor() as cursor:
        #Read a single record
       
        sql = "SELECT username FROM users"
#         print(sql)
        cursor.execute(sql)
       # result = cursor.fetchone()
        result = cursor.fetchmany(4)
        print(result)

[{'username': 'john1'}, {'username': 'ahmed'}, {'username': 'millman'}, {'username': 'Segun'}]

In [40]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\segun\appdata\local\programs\python\python37-32\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\segun\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\segun\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\segun\appdata\local\programs\python\python37-32\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\segun\appdata\local\programs\python\python37-32\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

WARNING: You are using pip version 20.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\segun\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

In [42]:
import pandas as pd
data = pd.read_csv(r"C:\Users\Segun\Desktop\cohort4b1wknd\materials\statement2.csv")

In [44]:
data

,Txn Date,Date,Ref No,Withdrawls,Lodgements,Balance,Description,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,0.00,0.0,989693.06,Balance Brought Forward,NaN,NaN
1,31/03/2021,01/04/2021,071ICEDNGN 00001,3.43,0.0,989689.63,DEBIT INTEREST CAPITALIZATION,NaN,NaN
2,01/04/2021,01/04/2021,099MJKL210915zGn,500.00,0.0,989189.63,901Airtime- 2348031346306,NaN,NaN
3,01/04/2021,01/04/2021,099MNIP210913g7i,0.00,132600.0,1121789.63,UNIVEL CITY ENTERPRISES/March consultancy fees,NaN,NaN
4,01/04/2021,01/04/2021,099MJKL21091AlBH,100.00,0.0,1121689.63,901Airtime- 2348031346306,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79,23/04/2021,23/04/2021,099MNIP211130d0Z,0.00,50000.0,955244.15,etim John/FT IFO etim BO etim K,NaN,NaN
80,23/04/2021,23/04/2021,099MJKL211132hdR,10026.88,0.0,945217.27,TRF/Refund/FRM John etim TO ISONG,NaN,NaN
81,23/04/2021,23/04/2021,099MJKL211132lwd,10026.88,0.0,935190.39,TRF/Upkeep/FRM John etim TO,NaN,NaN
82,23/04/2021,23/04/2021,099MJKL211134GVZ,30026.88,0.0,905163.51,TRF/Contribution/FRM John etim TO,NaN,NaN
83,23/04/2021,23/04/2021,099MNIP211133U7o,0.00,40000.0,945163.51,WILLIAMS OLAOLU OLUFEMIWILLIAMS OLAOLU,NaN,NaN

In [46]:
data.describe()

          Withdrawls     Lodgements       Balance  Unnamed: 7  Unnamed: 8
count      84.000000      84.000000  8.400000e+01         0.0         0.0
mean     9484.005119    8953.891429  9.641454e+05         NaN         NaN
std     19613.207998   24528.794149  5.572199e+04         NaN         NaN
min         0.000000       0.000000  9.051635e+05         NaN         NaN
25%        40.875000       0.000000  9.196711e+05         NaN         NaN
50%      1010.750000       0.000000  9.482382e+05         NaN         NaN
75%     10026.880000       0.000000  9.930072e+05         NaN         NaN
max    100053.750000  132600.000000  1.121790e+06         NaN         NaN

In [47]:
summary = data.describe()
summary.to_csv(r"C:\Users\Segun\Desktop\cohort4b1wknd\materials\statement2.csv")

In [50]:
summary = data.describe()
summary.to_excel(r"C:\Users\Segun\Desktop\cohort4b1wknd\materials\statement2.xls")

c:\users\segun\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

In [49]:
!pip install xlwt

Collecting xlwt

WARNING: You are using pip version 20.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\segun\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0