# Arise Application Challenge
---

Please answer the questions shown below by completing the code within this notebook and filling in your final answers in the respective block of the arise Challenge Answers form.

---

### Step 1 (this step does not have an answer in the answer form)

Please import the Pandas package. You will need to install the package if you do not already have them (`hint - google anaconda install pandas`).

In [30]:
# Add your code for Question 1 in this code block
import pandas as pd

---

### Step 2 (this step does not have an answer in the answer form)

Use Pandas to read in the csv titled `application_data.csv` as a Panda's dataframe. Once you have read in the data as a dataframe use Panda's `head()` function to show an overview of the data.

In [31]:
# Add your code for Question 2 in this code block
data = pd.read_csv("application_data.csv")
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17
...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11

You should now be able to see that the dataset contains information relating to loans that have been disbursed. Each row of the data is specific to a particular loan and displays the customer's ID that took out the loan, a unique loan ID, the date when the client applied for the loan, the loan number of the specific loan (how many loans the client has now taken out), the amount, interest rate, term days, the date when the loan repayment was due and the date the loan was actually repaid.

---

### Question 1

Convert `appilcationDate`, `repaymentDueDate` and `repaymentPaidDate` in the dataframes to datetimes.

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   customerID           1000 non-null   object
 1   loanId               1000 non-null   object
 2   appilcationDate      1000 non-null   datetime64[ns]
 3   LoanNumber           1000 non-null   int64
 4   LoanAmount           1000 non-null   float64
 5   InterestRate         1000 non-null   float64
 6   TermDays             1000 non-null   int64
 7   repaymentDueDate     1000 non-null   datetime64[ns]
 8   repaymentPaidDate    1000 non-null   datetime64[ns]
 9   appilcationDate      1000 non-null   datetime64[ns]
dtypes: datetime64[ns](4), float64(2), int64(2), object(2)
memory usage: 78.2+ KB

In [33]:
# convert to 
# pd.to_datetime(data["repaymentPaidDate"])
data["repaymentPaidDate"] = pd.to_datetime(data["repaymentPaidDate"])
data["appilcationDate"] = pd.to_datetime(data["appilcationDate"])
data["repaymentDueDate"] = pd.to_datetime(data["repaymentDueDate"])

In [34]:
data["repaymentPaidDate"]

0     2019-01-16
1     2018-12-29
2     2019-01-08
3     2019-01-08
4     2019-01-17
         ...
995   2018-01-20
996   2018-03-14
997   2018-10-12
998   2018-12-17
999   2018-02-11
Name: repaymentPaidDate, Length: 1000, dtype: datetime64[ns]

Now that the dates have been converted, How many `unique`data types are contained within the application dataset?

In [35]:
data.dtypes.unique()
len(data.dtypes.unique())

4

### Question 2

Please calculate the `average` loan amount, interest rate and termdays for all the loans in the dataset? `Round` all number to two decimal places.

In [36]:
# 2a avg loan amount
data["LoanAmount"].mean()

13828.08

In [37]:
# 2b avg interest rate
data["InterestRate"].mean()

23.061700000000002

In [38]:
# 2c avg term days 
data["TermDays"].mean()

42.075

---

### Question 3

Please create a new column called `dateDifference` which needs to contains the number of days between when the loan was repaid and when it was due to be repaid. 

Count the number of loans that were paid more than 3 days late. This can be done by first creating a dataframe only containing the loans that were paid more than 3 days late.

In [39]:
# date difference
data["dateDifference"] = data["repaymentPaidDate"] - data["repaymentDueDate"]
data

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
0,839247458,302953235622,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-16,-4 days
1,217540860,302960101337,2018-12-23,1,7500.0,30.0,30,2019-01-22,2018-12-29,-24 days
2,522238092,303016988846,2019-01-08,1,7500.0,30.0,30,2019-02-07,2019-01-08,-30 days
3,096754469,302999605504,2019-01-04,1,7500.0,30.0,30,2019-02-03,2019-01-08,-26 days
4,410354345,302951945878,2018-12-21,1,7500.0,30.0,30,2019-01-20,2019-01-17,-3 days
...,...,...,...,...,...,...,...,...,...,...
995,964510149,302636726,2018-01-15,2,7500.0,30.0,30,2018-02-14,2018-01-20,-25 days
996,251997198,302772445,2018-02-13,1,7500.0,30.0,30,2018-03-15,2018-03-14,-1 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days
998,648637210,302788322114,2018-11-19,1,7500.0,30.0,30,2018-12-19,2018-12-17,-2 days
999,464788691,302683579,2018-01-24,1,7500.0,30.0,30,2018-02-24,2018-02-11,-13 days

In [57]:
differenceDays = data.dateDifference.dt.days
over3daysmask = differenceDays > 3 # returns a mask of true or false that matches given condition
over3days = data[over3days] # now filter data based on our condition
over3days

,customerID,loanId,appilcationDate,LoanNumber,LoanAmount,InterestRate,TermDays,repaymentDueDate,repaymentPaidDate,dateDifference
397,GH35460722,100016172,2018-01-30,5,80.0,15.0,15,2018-02-14,2018-03-01,15 days
410,GH85390929,100015715,2018-01-27,2,80.0,15.0,15,2018-02-12,2018-02-16,4 days
419,GH06832511,100014400,2018-01-20,1,80.0,15.0,15,2018-02-05,2018-02-14,9 days
424,GH26139148,100017099,2018-02-04,2,80.0,15.0,15,2018-02-19,2018-02-27,8 days
426,GH03825373,100012495,2018-01-13,1,80.0,15.0,15,2018-01-29,2018-02-13,15 days
...,...,...,...,...,...,...,...,...,...,...
978,189301655,302565959911,2018-10-13,2,7500.0,30.0,30,2018-11-12,2018-11-20,8 days
980,874756930,302885631,2018-03-07,2,7500.0,30.0,30,2018-04-06,2018-04-17,11 days
983,351491824,302607848,2018-01-08,1,7500.0,30.0,30,2018-02-09,2018-05-09,89 days
987,576830620,302856088,2018-03-01,3,7500.0,30.0,30,2018-03-31,2018-07-12,103 days
997,899011279,302585439,2018-01-03,3,7500.0,30.0,30,2018-02-02,2018-10-12,252 days

In [58]:
len(over3days)

145

---

### Question 4

Please group the dataset by `TermDays` and calculate the `mean` loan amount and the `standard deviation` of loan amount within each term.

What is the mean loan amount in 30-day loans and what is the standard deviation of  loan amount in 90-day loans? Please give your answers to the nearest two decimal places.

### THIS IS A MARKDOWN

* Markdowns are cool

In [65]:
# mean loan amount in 30-day loans and standard deviation of loan amount in 90-day loans
data.groupby(by = "TermDays").mean()

groups = data.groupby(by = "TermDays").mean()
groups

          LoanNumber    LoanAmount  InterestRate
TermDays
15          2.628931   1274.088050     15.000000
30          2.137500   7941.964286     28.562143
45          1.100000  10706.250000     28.732500
60          4.800000  25710.526316     15.055789
90          4.709091  37672.727273     10.645455
120         1.000000  45055.555556     11.666667
180         6.285714  80988.095238      6.250000

In [66]:
meanloan30 = groups.loc[30]
meanloan30.LoanAmount.round(2)

7941.96

In [67]:
data.groupby(by = "TermDays").std()

groups = data.groupby(by = "TermDays").std()
groups

          LoanNumber    LoanAmount  InterestRate
TermDays
15          1.712033   2885.967406      0.000000
30          2.059236   1606.039495      4.034005
45          0.341256   2346.143820      5.773965
60          4.939205  11559.646185      3.632352
90          2.891064  18050.140602      2.180963
120         0.000000  22192.966854      1.000000
180         3.808115  34612.222587      1.265152

In [68]:
stdloan90 = groups.loc[90]
stdloan90.LoanAmount.round(2)

18050.14

---

### Question 5

`Late` loans are defined as loans that were paid `more than 3 days` after their due date. Please find the average number of days that these loans were paid beyond their due date for each `week of the year`. This will require you to break all `appilcationDate's` down into the week of the year they were made and then perform a group by. 

What is the average number of days that `late` loans applied for in the second week of the year were paid late? Please sumbit your answer rounded to two decimal places.

In [73]:
over3days["dateDifferenceInt"] = over3days.dateDifference.dt.days
over3days.groupby(by = over3days.appilcationDate.dt.week).mean()

c:\users\kboys\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,LoanNumber,LoanAmount,InterestRate,TermDays,dateDifferenceInt
appilcationDate,,,,,
1,1.700000,6758.000000,28.500000,28.500000,87.600000
2,1.250000,5645.000000,26.250000,26.250000,45.750000
3,2.000000,4717.500000,24.375000,24.375000,16.500000
4,1.333333,6263.333333,27.500000,27.500000,37.916667
5,2.333333,3790.000000,22.500000,22.500000,18.000000
6,2.571429,3260.000000,21.428571,21.428571,39.714286
7,1.250000,7500.000000,30.000000,30.000000,29.250000
8,1.230769,7500.000000,30.000000,30.000000,25.153846
9,1.714286,7500.000000,30.000000,30.000000,55.857143
10,2.000000,7500.000000,30.000000,30.000000,29.250000
11,1.500000,7500.000000,30.000000,30.000000,71.500000
12,2.000000,7500.000000,30.000000,30.000000,19.500000
13,3.000000,7500.000000,30.000000,30.000000,34.000000
14,4.000000,7500.000000,30.000000,30.000000,14.000000
15,2.000000,7500.000000,30.000000,30.000000,7.000000
17,1.500000,7500.000000,30.000000,30.000000,34.500000
19,1.000000,7500.000000,30.000000,30.000000,66.500000
20,1.000000,7500.000000,30.000000,30.000000,28.000000
21,1.000000,7500.000000,30.000000,30.000000,10.000000
22,2.000000,7500.000000,30.000000,30.000000,88.000000
23,2.000000,7500.000000,30.000000,30.000000,11.000000
24,2.500000,7500.000000,30.000000,30.000000,36.000000
26,1.666667,7500.000000,30.000000,30.000000,27.333333
27,2.000000,7500.000000,30.000000,30.000000,4.000000
28,2.000000,7500.000000,30.000000,30.000000,7.000000
29,4.000000,11833.333333,26.666667,40.000000,69.000000
30,2.000000,7500.000000,30.000000,30.000000,65.000000
31,3.000000,7500.000000,30.000000,30.000000,108.000000
32,4.000000,7500.000000,30.000000,30.000000,15.500000
33,1.000000,7500.000000,30.000000,30.000000,30.000000
34,2.000000,7500.000000,30.000000,30.000000,14.000000
35,3.000000,7500.000000,30.000000,30.000000,4.000000
36,6.000000,11833.333333,26.666667,40.000000,39.333333
37,1.200000,7500.000000,30.000000,30.000000,17.200000
38,1.000000,7500.000000,30.000000,30.000000,60.000000
39,2.000000,7500.000000,30.000000,30.000000,9.000000
40,2.000000,7500.000000,30.000000,30.000000,9.000000
41,2.000000,7500.000000,30.000000,30.000000,8.000000
42,1.000000,7500.000000,30.000000,30.000000,20.000000
44,1.000000,7500.000000,30.000000,30.000000,9.000000
45,1.000000,7500.000000,30.000000,30.000000,6.000000
48,2.000000,7500.000000,30.000000,30.000000,18.000000

In [74]:
groups = over3days.groupby(by = over3days.appilcationDate.dt.week).mean()
groups.loc[2].dateDifferenceInt.round(2)

45.75

---

### The End

Thank you for completing the challenge. Please make sure you have submitted all of your answers to the arise Challenge Answers form.

### Notebook
Please save you notebook as `yourEmail.ipynb` where you replace `yourEmail` with your actual email address and attach it to the arise Challenge Answers form.