In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 4.6 kB/s eta 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [15]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
    with connection.cursor() as cursor:
        sql = "SELECT name FROM users"
#         username = "Rukia"
#         name = "Rukia Sasuke"
#         age = 22
#         nation = "Japan"
        
#         # Create a new record
#         sql = f'INSERT INTO `users` (username, name, age, nation) VALUES ("{username}", "{name}", "{age}", "{nation}")'
#         print(sql)
        cursor.execute(sql)
        result = cursor.fetchmany(4)
        print(result)

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

[{'name': 'John'}, {'name': 'Ahmed'}, {'name': 'Miller'}, {'name': 'Rukia Sasuke'}]

In [ ]:
names["x", "y", "z" ]
ages = [20, 32, 29]
u

In [16]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.2.4-cp39-cp39-macosx_10_9_x86_64.whl (10.7 MB)
     |████████████████████████████████| 10.7 MB 41 kB/s eta 0:00:01     |██████████████████████████      | 8.7 MB 39 kB/s eta 0:00:50
Collecting numpy>=1.16.5
  Downloading numpy-1.20.3-cp39-cp39-macosx_10_9_x86_64.whl (16.1 MB)
     |████████████████████████████████| 16.1 MB 25 kB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Downloading pytz-2021.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 16 kB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/Yomi/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.20.3 pandas-1.2.4 pytz-2021.1
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [19]:
import pandas as pd
data = pd.read_csv(r"/Users/Yomi/Documents/cohort4b1wknd/materials/statement2.csv")

In [20]:
data

,Txn Date,Date,Ref No,Withdrawls,Lodgements,Balance,Description,Unnamed: 7,Unnamed: 8
0,NaN,NaN,NaN,0.00,0.0,989693.06,Balance Brought Forward,NaN,NaN
1,31/03/2021,01/04/2021,071ICEDNGN 00001,3.43,0.0,989689.63,DEBIT INTEREST CAPITALIZATION,NaN,NaN
2,01/04/2021,01/04/2021,099MJKL210915zGn,500.00,0.0,989189.63,901Airtime- 2348031346306,NaN,NaN
3,01/04/2021,01/04/2021,099MNIP210913g7i,0.00,132600.0,1121789.63,UNIVEL CITY ENTERPRISES/March consultancy fees,NaN,NaN
4,01/04/2021,01/04/2021,099MJKL21091AlBH,100.00,0.0,1121689.63,901Airtime- 2348031346306,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79,23/04/2021,23/04/2021,099MNIP211130d0Z,0.00,50000.0,955244.15,etim John/FT IFO etim BO etim K,NaN,NaN
80,23/04/2021,23/04/2021,099MJKL211132hdR,10026.88,0.0,945217.27,TRF/Refund/FRM John etim TO ISONG,NaN,NaN
81,23/04/2021,23/04/2021,099MJKL211132lwd,10026.88,0.0,935190.39,TRF/Upkeep/FRM John etim TO,NaN,NaN
82,23/04/2021,23/04/2021,099MJKL211134GVZ,30026.88,0.0,905163.51,TRF/Contribution/FRM John etim TO,NaN,NaN
83,23/04/2021,23/04/2021,099MNIP211133U7o,0.00,40000.0,945163.51,WILLIAMS OLAOLU OLUFEMIWILLIAMS OLAOLU,NaN,NaN

In [21]:
data.describe()

          Withdrawls     Lodgements       Balance  Unnamed: 7  Unnamed: 8
count      84.000000      84.000000  8.400000e+01         0.0         0.0
mean     9484.005119    8953.891429  9.641454e+05         NaN         NaN
std     19613.207998   24528.794149  5.572199e+04         NaN         NaN
min         0.000000       0.000000  9.051635e+05         NaN         NaN
25%        40.875000       0.000000  9.196711e+05         NaN         NaN
50%      1010.750000       0.000000  9.482382e+05         NaN         NaN
75%     10026.880000       0.000000  9.930072e+05         NaN         NaN
max    100053.750000  132600.000000  1.121790e+06         NaN         NaN

In [23]:
summary = data.describe()
summary.to_csv(r"/Users/Yomi/Documents/summary.csv") #write to csv format

In [26]:
!pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     |████████████████████████████████| 99 kB 96 kB/s eta 0:00:011
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [27]:
summary = data.describe()
summary.to_excel(r"/Users/Yomi/Documents/summary.xls") #write to csv format

<ipython-input-27-28baa7aebd1e>:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  summary.to_excel(r"/Users/Yomi/Documents/summary.xls") #write to csv format

In [28]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 28 kB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
WARNING: You are using pip version 21.0.1; however, version 21.1.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

In [29]:
for index, row in data.iterrows():
    print(row)

Txn Date                           NaN
Date                               NaN
Ref No                             NaN
Withdrawls                         0.0
Lodgements                         0.0
Balance                      989693.06
Description    Balance Brought Forward
Unnamed: 7                         NaN
Unnamed: 8                         NaN
Name: 0, dtype: object
Txn Date                           31/03/2021
Date                               01/04/2021
Ref No                       071ICEDNGN 00001
Withdrawls                               3.43
Lodgements                                0.0
Balance                             989689.63
Description    DEBIT INTEREST  CAPITALIZATION
Unnamed: 7                                NaN
Unnamed: 8                                NaN
Name: 1, dtype: object
Txn Date                       01/04/2021
Date                           01/04/2021
Ref No                   099MJKL210915zGn
Withdrawls                          500.0
Lodgements                            0.0
Balance                         989189.63
Description    901Airtime- 2348031346306
Unnamed: 7                            NaN
Unnamed: 8                            NaN
Name: 2, dtype: object
Txn Date                                           01/04/2021
Date                                               01/04/2021
Ref No                                       099MNIP210913g7i
Withdrawls                                                0.0
Lodgements                                           132600.0
Balance                                            1121789.63
Description    UNIVEL CITY ENTERPRISES/March consultancy fees
Unnamed: 7                                                NaN
Unnamed: 8                                                NaN
Name: 3, dtype: object
Txn Date                       01/04/2021
Date                           01/04/2021
Ref No                   099MJKL21091AlBH
Withdrawls                          100.0
Lodgements                            0.0
Balance                        1121689.63
Description    901Airtime- 2348031346306
Unnamed: 7                            NaN
Unnamed: 8                            NaN
Name: 4, dtype: object
Txn Date                               01/04/2021
Date                                   01/04/2021
Ref No                           099MJKL21091AwJG
Withdrawls                               30026.88
Lodgements                                    0.0
Balance                                1091662.75
Description    TRF/savings/FRM John  etim TO etim
Unnamed: 7                                    NaN
Unnamed: 8                                    NaN
Name: 5, dtype: object
Txn Date                               01/04/2021
Date                                   01/04/2021
Ref No                           099MJKL21091AyRa
Withdrawls                               10026.88
Lodgements                                    0.0
Balance                                1081635.87
Description    TRF/refund/FRM John  etim TO ISONG
Unnamed: 7                                    NaN
Unnamed: 8                                    NaN
Name: 6, dtype: object
Txn Date                                 02/04/2021
Date                                     02/04/2021
Ref No                             099MJKL210926K2P
Withdrawls                                 15026.88
Lodgements                                      0.0
Balance                                  1066608.99
Description    USSD_NIP/John  etim/07XXXX9839/etim
Unnamed: 7                                      NaN
Unnamed: 8                                      NaN
Name: 7, dtype: object
Txn Date                02/04/2021
Date                    02/04/2021
Ref No            099MJKL210928ZCo
Withdrawls                   500.0
Lodgements                     0.0
Balance                 1066108.99
Description    901 Data purchase/
Unnamed: 7                     NaN
Unnamed: 8                     NaN
Name: 8, dtype: object
Txn Date                    02/04/2021
Date                        02/04/2021
Ref No                099MJKL210928Y23
Withdrawls                         0.0
Lodgements                       500.0
Balance                     1066608.99
Description    REV-901 Data purchase/
Unnamed: 7                         NaN
Unnamed: 8                         NaN
Name: 9, dtype: object
Txn Date                                05/04/2021
Date                                    05/04/2021
Ref No                            099MJKL2109551Af
Withdrawls                                 22000.0
Lodgements                                     0.0
Balance                                 1044608.99
Description    TRF/phone repair/FRM John  etim TO
Unnamed: 7                                     NaN
Unnamed: 8                                     NaN
Name: 10, dtype: object
Txn Date                             05/04/2021
Date                                 05/04/2021
Ref No                         099MJKL210956KcG
Withdrawls                              7026.88
Lodgements                                  0.0
Balance                              1037582.11
Description    TRF/new shoes/FRM John  etim TO
Unnamed: 7                                  NaN
Unnamed: 8                                  NaN
Name: 11, dtype: object
Txn Date                                  05/04/2021
Date                                      05/04/2021
Ref No                              099MJKL210956Kq5
Withdrawls                                       0.0
Lodgements                                   7026.88
Balance                                   1044608.99
Description    RVSL~TRF/new shoes/FRM John  etim TO
Unnamed: 7                                       NaN
Unnamed: 8                                       NaN
Name: 12, dtype: object
Txn Date                             05/04/2021
Date                                 05/04/2021
Ref No                         099MJKL210956NvH
Withdrawls                             10026.88
Lodgements                                  0.0
Balance                              1034582.11
Description    TRF/shoes/FRM John  etim TO etim
Unnamed: 7                                  NaN
Unnamed: 8                                  NaN
Name: 13, dtype: object
Txn Date                                05/04/2021
Date                                    05/04/2021
Ref No                            099MJKL210957ND5
Withdrawls                                24026.88
Lodgements                                     0.0
Balance                                 1010555.23
Description    TRF/cloths/FRM John  etim TO OBINNA
Unnamed: 7                                     NaN
Unnamed: 8                                     NaN
Name: 14, dtype: object
Txn Date                                05/04/2021
Date                                    05/04/2021
Ref No                            099MJKL21095C4ZT
Withdrawls                               100053.75
Lodgements                                     0.0
Balance                                  910501.48
Description    TRF/Loan omolola/FRM John  etim TO
Unnamed: 7                                     NaN
Unnamed: 8                                     NaN
Name: 15, dtype: object
Txn Date                                      05/04/2021
Date                                          05/04/2021
Ref No                                  099MJKL21095Md5g
Withdrawls                                       2010.75
Lodgements                                           0.0
Balance                                        908490.73
Description    TRF/Uber ride landmark/FRM John  etim TO
Unnamed: 7                                           NaN
Unnamed: 8                                           NaN
Name: 16, dtype: object
Txn Date                                     05/04/2021
Date                                         05/04/2021
Ref No                                 099ZTRF21095LCTX
Withdrawls                                          0.0
Lodgements                                      20000.0
Balance                                       928490.73
Description    Principal Disbursement 099ILAT21095096K
Unnamed: 7                                          NaN
Unnamed: 8                                          NaN
Name: 17, dtype: object
Txn Date                                    05/04/2021
Date                                        05/04/2021
Ref No                                099ZTRF21095LCU2
Withdrawls                                        15.0
Lodgements                                         0.0
Balance                                      928475.73
Description    VAT on Management Fee 099ILAT21095096K
Unnamed: 7                                         NaN
Unnamed: 8                                         NaN
Name: 18, dtype: object
Txn Date                             05/04/2021
Date                                 05/04/2021
Ref No                         099ZTRF21095LCU0
Withdrawls                                200.0
Lodgements                                  0.0
Balance                               928275.73
Description    Management Fee 099ILAT21095096K
Unnamed: 7                                  NaN
Unnamed: 8                                  NaN
Name: 19, dtype: object
Txn Date                                     05/04/2021
Date                                         05/04/2021
Ref No                                 099ZTRF21095LCTY
Withdrawls                                        100.0
Lodgements                                          0.0
Balance                                       928175.73
Description    Credit Life Insurance  099ILAT21095096K
Unnamed: 7                                          NaN
Unnamed: 8                                          NaN
Name: 20, dtype: object
Txn Date                                       05/04/2021
Date                                           05/04/2021
Ref No                                   099MJKL21095SR2e
Withdrawls                                        5010.75
Lodgements                                            0.0
Balance                                         923164.98
Description    TRF/Trip/FRM John  etim TO Runo Eferigho-
Unnamed: 7                                            NaN
Unnamed: 8                                            NaN
Name: 21, dtype: object
Txn Date                                  05/04/2021
Date                                      05/04/2021
Ref No                              099MJKL21095cQLn
Withdrawls                                  17026.88
Lodgements                                       0.0
Balance                                     906138.1
Description    TRF/Refund to eddy/FRM John  etim TO
Unnamed: 7                                       NaN
Unnamed: 8                                       NaN
Name: 22, dtype: object
Txn Date                            06/04/2021
Date                                06/04/2021
Ref No                        099MJKL21096BbwM
Withdrawls                              610.75
Lodgements                                 0.0
Balance                              905527.35
Description    TRF/data/FRM John  etim TO John
Unnamed: 7                                 NaN
Unnamed: 8                                 NaN
Name: 23, dtype: object
Txn Date                                         06/04/2021
Date                                             06/04/2021
Ref No                                     099MNIP210965hzl
Withdrawls                                              0.0
Lodgements                                          80000.0
Balance                                           985527.35
Description    SULIAT   YUSUFF/NIP TFR FROM SULIAT   YUSUFF
Unnamed: 7                                              NaN
Unnamed: 8                                              NaN
Name: 24, dtype: object
Txn Date                                     06/04/2021
Date                                         06/04/2021
Ref No                                 099MNIP210966K4v
Withdrawls                                          0.0
Lodgements                                      15000.0
Balance                                      1000527.35
Description    WILLIAMS  OLAOLU OLUFEMIWILLIAMS OLAOLU
Unnamed: 7                                          NaN
Unnamed: 8                                          NaN
Name: 25, dtype: object
Txn Date                                  07/04/2021
Date                                      06/04/2021
Ref No                              099MJKL21096JOmW
Withdrawls                                  10026.88
Lodgements                                       0.0
Balance                                    990500.47
Description    TRF/Plantain flour/FRM John  etim TO
Unnamed: 7                                       NaN
Unnamed: 8                                       NaN
Name: 26, dtype: object
Txn Date                                         07/04/2021
Date                                             07/04/2021
Ref No                                     099MNIP2109707co
Withdrawls                                              0.0
Lodgements                                          20000.0
Balance                                          1010500.47
Description    SULIAT   YUSUFF/NIP TFR FROM SULIAT   YUSUFF
Unnamed: 7                                              NaN
Unnamed: 8                                              NaN
Name: 27, dtype: object
Txn Date                               07/04/2021
Date                                   07/04/2021
Ref No                           099MJKL21097Fjlf
Withdrawls                               40026.88
Lodgements                                    0.0
Balance                                 970473.59
Description    TRF/Solar panel/FRM John  etim TO
Unnamed: 7                                    NaN
Unnamed: 8                                    NaN
Name: 28, dtype: object
Txn Date                                   07/04/2021
Date                                       07/04/2021
Ref No                               099MJKL21097G51r
Withdrawls                                    2010.75
Lodgements                                        0.0
Balance                                     968462.84
Description    TRF/Eka gift/FRM John  etim TO ASUQUO
Unnamed: 7                                        NaN
Unnamed: 8                                        NaN
Name: 29, dtype: object
Txn Date                               07/04/2021
Date                                   07/04/2021
Ref No                           071ZSTM21097007D
Withdrawls                                  150.0
Lodgements                                    0.0
Balance                                 968312.84
Description    FGN ELECTRONIC MONEY TRANSFER LEVY
Unnamed: 7                                    NaN
Unnamed: 8                                    NaN
Name: 30, dtype: object
Txn Date                                       08/04/2021
Date                                           08/04/2021
Ref No                                   099MJKL21098HFkL
Withdrawls                                        7026.88
Lodgements                                            0.0
Balance                                         961285.96
Description    TRF/Solar panel balance/FRM John  etim TO
Unnamed: 7                                            NaN
Unnamed: 8                                            NaN
Name: 31, dtype: object
Txn Date                              08/04/2021
Date                                  08/04/2021
Ref No                          099MJKL21098HLdb
Withdrawls                              10026.88
Lodgements                                   0.0
Balance                                951259.08
Description    TRF/Loan/FRM John  etim TO SHADE
Unnamed: 7                                   NaN
Unnamed: 8                                   NaN
Name: 32, dtype: object
Txn Date                              09/04/2021
Date                                  09/04/2021
Ref No                          099MNIP210995AoI
Withdrawls                                   0.0
Lodgements                               39000.0
Balance                                990259.08
Description    etim John AUGUSTINE/ONB TRF FROM
Unnamed: 7                                   NaN
Unnamed: 8                                   NaN
Name: 33, dtype: object
Txn Date                                    09/04/2021
Date                                        09/04/2021
Ref No                                099MJKL21099FHrq
Withdrawls                                    80053.75
Lodgements                                         0.0
Balance                                      910205.33
Description    TRF/Inini/FRM John  etim TO AGUNBIADE
Unnamed: 7                                         NaN
Unnamed: 8                                         NaN
Name: 34, dtype: object
Txn Date             12/04/2021
Date                 10/04/2021
Ref No         099MNIP211020SAx
Withdrawls                  0.0
Lodgements              20000.0
Balance               930205.33
Description         NAGU ISAAC
Unnamed: 7                  NaN
Unnamed: 8                  NaN
Name: 35, dtype: object
Txn Date                                        12/04/2021
Date                                            10/04/2021
Ref No                                    099MNIP211021OLT
Withdrawls                                             0.0
Lodgements                                         10000.0
Balance                                          940205.33
Description    TECHBRIDGE CONSULTING LIMITED/COB TRF FROM
Unnamed: 7                                             NaN
Unnamed: 8                                             NaN
Name: 36, dtype: object
Txn Date                           12/04/2021
Date                               12/04/2021
Ref No                       099MJKL211021lP9
Withdrawls                            5010.75
Lodgements                                0.0
Balance                             935194.58
Description    TRF/Upkeep/FRM John  etim TO
Unnamed: 7                                NaN
Unnamed: 8                                NaN
Name: 37, dtype: object
Txn Date             12/04/2021
Date                 12/04/2021
Ref No         099MJKL21102BELc
Withdrawls              2660.75
Lodgements                  0.0
Balance               932533.83
Description     USSD_NIP/John
Unnamed: 7                  NaN
Unnamed: 8                  NaN
Name: 38, dtype: object
Txn Date                                     12/04/2021
Date                                         12/04/2021
Ref No                                 099MJKL21102E5FV
Withdrawls                                      2510.75
Lodgements                                          0.0
Balance                                       930023.08
Description    TRF/tunji oladej gift/FRM John  etim TO
Unnamed: 7                                          NaN
Unnamed: 8                                          NaN
Name: 39, dtype: object
Txn Date                                 12/04/2021
Date                                     12/04/2021
Ref No                             099MJKL21102Eg93
Withdrawls                                 10026.88
Lodgements                                      0.0
Balance                                    919996.2
Description    TRF/drug and soup/FRM John  etim TO
Unnamed: 7                                      NaN
Unnamed: 8                                      NaN
Name: 40, dtype: object
Txn Date                            12/04/2021
Date                                12/04/2021
Ref No                        099MJKL21102KM01
Withdrawls                             6026.88
Lodgements                                 0.0
Balance                              913969.32
Description    TRF/Savings/FRM John  etim TO
Unnamed: 7                                 NaN
Unnamed: 8                                 NaN
Name: 41, dtype: object
Txn Date                                12/04/2021