In [7]:
# !pip install pymysql

In [8]:
# !pip install jupyterthemes

In [9]:
# !jt -l

In [10]:
# !jt -t chesterish

In [19]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:
    with connection.cursor() as cursor:
        
        username = "vincent"
        name = "vincent mancini"
        age = 34
        nation = "Italia"
        
        # Create a new record
        sql = f'INSERT INTO `users` (username, name, age, nation) VALUES ("{username}", "{name}", "{age}", "{nation}")'
        print(sql)
        cursor.execute(sql)

    # connection is not autocommit by default. So you must commit to save
    # your changes.
    connection.commit()

INSERT INTO `users` (username, name, age, nation) VALUES ("vincent", "vincent mancini", "34", "Italia")

In [22]:
# import pymysql.cursors

# # Connect to the database
# connection = pymysql.connect(host='localhost',
#                              user='root',
#                              password='',
#                              database='test',
#                              cursorclass=pymysql.cursors.DictCursor)

# with connection:
#     with connection.cursor() as cursor:
        
#         username = "vincent"
#         name = "vincent mancini"
#         age = 34
#         nation = "Italia"
        
#         for i in range(30):
#             # Create a new record
#             sql = f'INSERT INTO `users` (username, name, age, nation) VALUES ("{username}", "{name}", "{age}", "{nation}")'
#             print(sql)
#             cursor.execute(sql)

#     # connection is not autocommit by default. So you must commit to save
#     # your changes.
#     connection.commit()

In [40]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='',
                             database='test',
                             cursorclass=pymysql.cursors.DictCursor)

with connection:

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT name FROM users"
        cursor.execute(sql)
#         result = cursor.fetchone() # FETCH ONE VALUE ONLY
        result = cursor.fetchmany(3)# FETCH MANY VALUES AT A TIME
        print(result)

[{'name': 'John'}, {'name': 'Ahmed'}, {'name': 'Miller'}]

In [30]:
names = ["x", "y", "z"]
ages = [20, 32, 29]
usernames = ["x1", "x2", "x3"]
nations = ["NG", "US", "AU"]

In [32]:
list(zip(names, ages, usernames, nations))

[('x', 20, 'x1', 'NG'), ('y', 32, 'x2', 'US'), ('z', 29, 'x3', 'AU')]

In [37]:
import pymysql.cursors

def write_to_db(username, name, age, nation):

    # Connect to the database
    connection = pymysql.connect(host='localhost',
                                 user='root',
                                 password='',
                                 database='test',
                                 cursorclass=pymysql.cursors.DictCursor)

    with connection:
        with connection.cursor() as cursor:

            # Create a new record
            sql = f'INSERT INTO `users` (username, name, age, nation) VALUES ("{username}", "{name}", "{age}", "{nation}")'
            print(sql)
            cursor.execute(sql) # EXECUTE COMMAND

        # connection is not autocommit by default. So you must commit to save
        # your changes.
        connection.commit()

In [39]:
for  name, age, username, nation in zip(names, ages, usernames, nations): # LOOP THROUGH ZIPPED ITEMS ( REMEMBER ZIP() MAKES THE ITEMS INTO A MATCHED TUPLE FOR EACH LIST ENTRY)
    
    print(name, username, age, nation)
    write_to_db(username, name, age, nation) # CALL THE WRITE FUNCTION TO TAKE THE PARAMETERS, COSTRUCT OUR COMMAND AND THEN WRITE THE DATA INTO OUR DATABASE.

x x1 20 NG
INSERT INTO `users` (username, name, age, nation) VALUES ("x1", "x", "20", "NG")
y x2 32 US
INSERT INTO `users` (username, name, age, nation) VALUES ("x2", "y", "32", "US")
z x3 29 AU
INSERT INTO `users` (username, name, age, nation) VALUES ("x3", "z", "29", "AU")